body {
margin: 0;
font-family: Arial;
background: #f3f4ff;
}

.center {
max-width: 900px;
margin: 40px auto;
padding: 20px;
background: white;
border-radius: 15px;
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.nav {
margin-bottom: 20px;
}

.nav a {
text-decoration: none;
background: purple;
color: white;
padding: 10px;
margin-right: 10px;
border-radius: 8px;
}

img {
width: 45%;
border-radius: 12px;
margin: 10px 0;
}
